<h1 class="ui header">Welcome to the Web's Finest Unique Flora Gallery App</h1>

<h3 class="ui header">You can create your own visual collection of your favorite flora images.  Please input the URL of your image, provide a caption as well as the location of the flower.  We hope that you will soon have a collection of some interesting species from around the world and share these images with your friends!</h3>


<form>
  <label>PHOTO URL</table>
  <input type="text" id="url"></input>
  <label>CAPTION</table>
  <input type="text" id="caption"></input>
  <label>LOCATION</table>
  <input type="text" id="location"></input>
  <input type="submit"></input>
</form>

<div id="photos">
    <% @photos.each do |photo| %>
      <div class="image-container" data-id=<%= photo.id %>>
        <div class="delete">X</div>
        <img src="<%= photo.url %>" style="height: 100px; width: 100px">
        <h3><%= photo.caption %></h3>
        <p>taken at <%= photo.location %></p>

      </div>
    <% end %>
</div>
